body {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "main main aside"
    "footer footer footer";
}

header {
  background-color: blue;
  color: white;
  padding: 20px;
  grid-area: header;
}

nav {
  background-color: yellow;
  color: white;
  grid-area: nav;
}

aside {
  background-color: lightgreen;
  grid-area: aside;
  padding-bottom: 1em;
}

footer {
  background-color: darkgreen;
  color: white;
  grid-area: footer;
}

main {
  background-color: darkblue;
  color: white;
  padding-bottom: 1em;
  padding-top: 1em;
  grid-area: main;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box {
  list-style-type: none;
}
